In [ ]:
                                            ASSIGNMENT  2

Q1. 

Ans:- 
 marks=int(input("enter marks :-"))
if marks>90:
        print("grade a")
elif marks>80 and marks<=90:
        print("grade b")
elif marks>=60 and marks<=80:
        print("grade c")
else:
        print("grade d")

In [ ]:
Q2.
Ans:- 

cost_of_bike=int(input("enter the cost price of bike:-"))

if cost_of_bike > 1000000:
    tax=cost_of_bike*15/100
    print("road tax =",tax)
elif cost_of_bike > 500000 and cost_of_bike <=100000:
    tax=cost_of_bike*10/100
    print("road tax =",tax)
else:
    tax=cost_of_bike*5/100
    print("road tax =",tax)

In [ ]:
Q3.
Ans:-

city=input("enter city")

if city=="Delhi"
    print("red fort")
elif city=="agra"
    print("taj mahal")
elif city==("jaipur")
    print("jai mahal")

In [ ]:
Q4.
Ans:- 
count=0
n=int(input("enter a number"))

while n>=10:
    count=count+1
    n=n/3
print(count,"times can be devided by3 before it is less than or equal to 10.")

In [ ]:
Q5.
Ans:-

actually,while loop in python is used to execute a block of statements repeatedly untill a given condition is satisfied
and when the condition becomes false,the line immediately after the loop in the program is executed.

and the while loop is used when it is impossible to determine the exact number of loop iterations in advance.

for example
check how many times a given number can be divided by 3 before it is less than equal to 10

in this example we do not have any idea , how many time will the loop execute.
in this case we should use while loop and already solved this example as Q4

In [ ]:
Q6. use nested while loop to print 3 different pattern.

Ans:- 
#1st
n=int(input("enter number of row:-"))

i = 1
while i <= n :
    j = 1 
    while j <= i:
        print("*",end = " ")
        j = J+1
    print()
    i = i+1
    
#2nd
n = int(input("enter number of rows :-"))

i = 1
while i <= n :
    j = n 
    while j <= i:
        print("*",end = " ")
        j = J-1
    print()
    i = i+1
    
#3rd

i = 1
while i <= 5 :
    j = 1 
    while j <= i:
        print("*",end = " ")
        j = J+1
    print("")
    i = i+1

In [ ]:
Q7. Reverse a while loop to display numbers from 10 to 1.

Ans:- 
i=10

while i<=0;
    print(i)
    i=i+1

In [ ]:
Q8. Reverse a while loop to display numbers from 10 to 1.

Ans:- 
i=10

while i<=0;
    print(i)
    i=i+1